 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fleur+De+Leah&display=swap');

 body {
      font-family: sans-serif;
      text-align: center;
      background-color: #353632;
      color: white;
    }
   
 .polaroid-frame {
      margin-top: 30px;
      width: 170px;
      height: 550px;
      padding: 20px;
      background: #ffffff; /* or use saved frameColor */
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
      position: relative;
      transform: rotate(-10deg);   /* adjust angle */
  transform-origin: center top;
    }

    .photo {
      width: 175px;
      height: 110px;
      object-fit: cover;
      border: 1px solid #000;
      margin-bottom: 10px;
      align-self: center;
    }

    .stack-container {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 280px;
      margin-top: 50px;
    }

    .right1-panel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 80px;
    }

    .message1 {
      color: white;
      font-family: "Fleur De Leah", cursive;
        font-weight: 400;
        font-style: normal;
      text-align: left;
      font-size: 60px;
    }

.download-button-container {
  margin-top: 180px;
  display: flex;
  gap: 40px;              /* adjust vertical spacing */
  align-items: flex-start; /* or center */
}

.download-button{
  padding: 12px 25px;
  font-size: 20px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  color: #151613;
  width: 130px;
  background-color: #E0D7CC;
  border: 5px solid #392418;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.again {
    padding: 12px 25px;
    font-size: 20px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #151613;
    width: 130px;
    background-color: #E0D7CC;
    border: 5px solid #392418;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}